body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: linear-gradient(to right, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* w3c */
}

button {
  cursor: pointer;
}
